Repository Kazade/simulant-engine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:windows-x64-mingw, prepare:deploy

prepare:linux-x64-gcc:
  stage: prepare
  image: docker:latest
  services:
  - docker:dind
  variables:
    GIT_STRATEGY: none
  ...

prepare:linux-x64-gcc11:
  stage: prepare
  image: docker:latest
  services:
  - docker:dind
  variables:
    GIT_STRATEGY: none
  ...

prepare:windows-x64-mingw:
  stage: prepare
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - cp platforms/windows/Dockerfile Dockerfile
  script:
  - docker pull $CI_REGISTRY_IMAGE:windows-x64-mingw || true
  - docker build --cache-from $CI_REGISTRY_IMAGE:windows-x64-mingw -t $CI_REGISTRY_IMAGE:windows-x64-mingw .
  ...

prepare:deploy:
  stage: prepare
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKERFILE: FROM fedora:33\n RUN dnf -y install openssl-devel python-devel python-setuptools libffi-devel python-pip rsync zip\n RUN pip install gsutil\n
  before_script:
  - echo -e $DOCKERFILE > Dockerfile
  - cat Dockerfile
  ...

Expose assets:load_X to lua
  documentation/lua-scripting.md
  simulant/nodes/stage_node.cpp
  simulant/nodes/stage_node.h
  simulant/scripting/lua/bindings.cpp
  tests/test_lua.h
Due: none

Avoid unnecessary calls to glLoadMatrix
  simulant/renderers/gl1x/gl1x_render_queue_visitor.cpp
Due: none

Fix test includes
  tests/test_lua.h
Due: none

Use 32 bits on retro consoles
  simulant/scripting/lua/interpreter.h
Due: none

Attempt to fix problems on DC
  simulant/nodes/stage_node_manager.cpp
  simulant/utils/hash/fnv1.h
Due: none

Fix Luabridge to properly handle unsigned 32 bit integers
  simulant/scripting/lua/LuaBridge.h
Due: none

Fix crash on exit
  simulant/application.cpp
Due: none

Attempt to fix windows CI
  .gitlab-ci.yml
  platforms/windows/Dockerfile
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:windows-x64-mingw, prepare:deploy

Correct the windows test image
  .gitlab-ci.yml
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

Fix a memory leak
  simulant/scripting/lua/interpreter.h
Due: none

Add sudo
  platforms/windows/Dockerfile
Due: prepare:windows-x64-mingw

Fix various valgrind issues
  .gitlab-ci.yml
  simulant/loaders/gltf_loader.cpp
  simulant/nodes/stage_node_manager.cpp
  tests/test_render_queue.h
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

Update Dockerfile
  platforms/windows/Dockerfile
Due: prepare:windows-x64-mingw

Don't write files in tests
  samples/tests/asset_access_node.lua
  samples/tests/file_ball_node.lua
  samples/tests/file_dup.lua
  samples/tests/file_param_node.lua
  samples/tests/file_real_class.lua
  samples/tests/file_transform_write.lua
  samples/tests/find_assets_node.lua
  samples/tests/invalid_lua.lua
  samples/tests/late_update_node.lua
  samples/tests/material_load_node.lua
  samples/tests/multi_class.lua
  samples/tests/on_clean_up_node.lua
  samples/tests/on_destroy_node.lua
  samples/tests/on_parent_set_node.lua
  samples/tests/on_transform_changed_node.lua
  samples/tests/reload_node_a.lua
  samples/tests/reload_node_b.lua
  tests/CMakeLists.txt
  tests/test_lua.h
Due: none

Fix test data path
  tests/CMakeLists.txt
  tests/data/asset_access_node.lua
  tests/data/file_ball_node.lua
  tests/data/file_dup.lua
  tests/data/file_param_node.lua
  tests/data/file_real_class.lua
  tests/data/file_transform_write.lua
  tests/data/find_assets_node.lua
  tests/data/invalid_lua.lua
  tests/data/late_update_node.lua
  tests/data/material_load_node.lua
  tests/data/multi_class.lua
  tests/data/on_clean_up_node.lua
  tests/data/on_destroy_node.lua
  tests/data/on_parent_set_node.lua
  tests/data/on_transform_changed_node.lua
  tests/data/reload_node_a.lua
  tests/data/reload_node_b.lua
  tests/test_lua.h
Due: none

Fix Dockerfile
  platforms/windows/Dockerfile
Due: prepare:windows-x64-mingw

WIP pvr renderer
  simulant/CMakeLists.txt
  simulant/platforms/dreamcast/kos_window.cpp
  simulant/platforms/dreamcast/platform.cpp
  simulant/renderers/pvr/pvr_render_group_impl.h
  simulant/renderers/pvr/pvr_render_queue_visitor.cpp
  simulant/renderers/pvr/pvr_render_queue_visitor.h
  simulant/renderers/pvr/pvr_renderer.cpp
  simulant/renderers/pvr/pvr_renderer.h
  simulant/renderers/pvr/pvr_texture_manager.cpp
  simulant/renderers/pvr/pvr_texture_manager.h
  simulant/renderers/renderer_config.cpp
Due: none

More pvr work
  assets/materials/pvr/default.smat
  assets/materials/pvr/diffuse_only.smat
  assets/materials/pvr/texture_only.smat
  simulant/renderers/pvr/pvr_render_queue_visitor.cpp
  simulant/renderers/pvr/pvr_render_queue_visitor.h
  simulant/renderers/pvr/pvr_renderer.cpp
  simulant/renderers/pvr/pvr_renderer.h
  simulant/renderers/pvr/pvr_texture_manager.cpp
  simulant/renderers/renderer.cpp
  simulant/renderers/renderer.h
  simulant/texture.cpp
Due: none

Compile error
  simulant/renderers/pvr/pvr_render_queue_visitor.cpp
Due: none

Copy lua files as part of CI
  .gitlab-ci.yml
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

Fix linux release build
  .gitlab-ci.yml
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

Use sudo on windows tests
  .gitlab-ci.yml
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

Update dockerfile
  platforms/windows/Dockerfile
Due: prepare:windows-x64-mingw

Add some assertions
  tests/test_widgets.h
Due: none

Various fixes
  simulant/application.cpp
  simulant/nodes/ui/image.cpp
  simulant/platforms/dreamcast/kos_window.cpp
  simulant/renderers/gl_renderer.cpp
  simulant/scripting/lua/interpreter.h
  simulant/tools/profiler.h
  simulant/vertex_data.h
Due: none

Simplify windows test run
  .gitlab-ci.yml
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

Allow windows tests to fail :(
  .gitlab-ci.yml
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

Fix DC tests in CI
  .gitlab-ci.yml
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

Enable wine debugging
  .gitlab-ci.yml
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

More windows CI fixes
  .gitlab-ci.yml
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

More CI fixes
  .gitlab-ci.yml
Due: prepare:linux-x64-gcc, prepare:linux-x64-gcc11, prepare:deploy

Fix BFS iteration
  simulant/nodes/stage_node.cpp
  simulant/nodes/stage_node_visitors.h
  tests/test_stage_node_visitor.h
Due: none

Optimise contiguousmultimap to be more cache friendly
  simulant/generic/containers/contiguous_map.h
  tests/test_contiguous_map.h
Due: none

Remove color material from materials
  assets/particles/fire.kglp
  samples/cave.cpp
  simulant/assets/material.cpp
  simulant/assets/materials/constants.cpp
  simulant/assets/materials/constants.h
  simulant/assets/materials/core/core_material.cpp
  simulant/assets/materials/core/core_material.h
  simulant/assets/materials/material_object.cpp
  simulant/assets/materials/material_object.h
  simulant/renderers/gl1x/gl1x_render_queue_visitor.cpp
Due: none

Fix issues with particle system angle
  simulant/assets/particle_script.h
  simulant/core/stage_node_id.h
  simulant/loaders/particle_script.cpp
  simulant/nodes/particle_system.cpp
  simulant/nodes/ui/keyboard.cpp
Due: none

Use Simulant Pi definition
  simulant/nodes/particle_system.cpp
Due: none

Remove color material from PSP
  simulant/renderers/psp/psp_render_queue_visitor.cpp
Due: none

Add sh4zam as a submodule
  .gitmodules
Due: none

Update to C++20, and switch Mat4 to use sh4zam
  CMakeLists.txt
  simulant/core/aligned_allocator.h
  simulant/generic/allocators/dynamic_aligned_allocator.h
  simulant/input/input_manager.cpp
  simulant/math/mat4.cpp
  simulant/math/mat4.h
  simulant/nodes/locators/node_locator.h
  simulant/nodes/physics/physics_body.cpp
  simulant/scenes/scene_manager.h
Due: none

Optimisations
  simulant/compositor.h
  simulant/interfaces.h
  simulant/renderers/batching/render_queue.cpp
Due: none

Path conditions:
  prepare:linux-x64-gcc: any of: .gitlab-ci.yml
  prepare:linux-x64-gcc11: any of: .gitlab-ci.yml
  prepare:windows-x64-mingw: any of: platforms/windows/Dockerfile
  prepare:deploy: any of: .gitlab-ci.yml
